<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

    <h3>The total number pf users are : <%= count %></h3>
    <button>Join Us</button>
    <br><br>

    <a href="http://localhost:8080/user">See User Details</a>
    
</body>
</html>